.chat-group-user{ id: "chat-group-user-#{user.id}" }
  %p.chat-group-user__name= user.name
  %input{ name: "group[user_ids][]", value: "#{user.id}", type: "hidden" }
  - if current_user != user
    = link_to '削除', "", class: " chat-group-user__btn chat-group-user__btn--remove", data: { user_id: user.id, user_name: user.name }
