%li.chat-view__messages__contents__list
  .chat-view__messages__contents__list__header
    %p.chat-view__messages__contents__list__header-user-name
      = chat.user.name
    %p.chat-view__messages__contents__list__header-post-time
      #{chat.created_at}
  %p.chat-view__messages__contents__list__body
    #{chat.body}
