.chat
  = render "layouts/sidebar"
  .chat-view
    .chat-view__header
      .chat-view__header__contents
        .chat-view__header__contents__info
          .chat-view__header__contents__info__left
            %h5 div
            %p Members:
          .chat-view__header__contents__info__right
            = link_to "Edit", "#", aciton: :edit, class: "chat-view__header__contents__info__right__edit-btn"
    .chat-view__messages
      %ul.chat-view__messages__contents
        %li.chat-view__messages__contents__list
          .chat-view__messages__contents__list__header
            %p.chat-view__messages__contents__list__header-user-name
              Seo
            %p.chat-view__messages__contents__list__header-post-time
              2016/01/01 00:00:09
          .chat-view__messages__contents__list__body
            %p hoge
        %li.chat-view__messages__contents__list
          .chat-view__messages__contents__list__header
            %p.chat-view__messages__contents__list__header-user-name
              Seo
            %p.chat-view__messages__contents__list__header-post-time
              2016/01/01 00:00:09
          .chat-view__messages__contents__list__body
            %p hoge
  .chat-view__chat-footer
